.headerOption{
    position:sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;


}
.headerOption h3{
    margin-top: 1px;
}
.headerOption:hover{
    color: black;

}
.headerOption_icon{
    object-fit: contain;
    height: 30px !important;
    width: 30px !important;
}