.app_body{
    display: flex;
}
/* body{ */
    /* background-image: url("https://img.freepik.com/free-photo/business-partners-handshake-global-corporate-with-technology-concept_53876-102615.jpg?w=900&t=st=1669321527~exp=1669322127~hmac=8c5af1a9cfb9834fa1b884306706debfaf4f836ac5e5c8f2bd36aae36ba59ad9");
     background-repeat: no-repeat; */
     /* filter: blur(8px);
     -webkit-filter: blur(8px); */
/* } */